/*title*/
body,
html {
    width: 100%;
    height: 100%;
    background: url(../img/bigbg.png) no-repeat center center;
    background-size: 100% 100%;
}
.map-logo {
    width: 10rem;
    height: 1.333rem;
    float: left;
    margin-top: .533rem;
    margin-bottom: .567rem;
}
.top {
    width: 100%;
    height: 5.04rem;
    position: relative;
    background: rgba(0, 0, 0, .4);
}
.top .icon-baidu {
    width: .9867rem;
    height: 1.0133rem;
    background: url(../img/ditu.png) no-repeat center center;
    background-size: 100%;
    position: absolute;
    left: 3.4933rem;
    top: .7733rem;
}
.top .wenzi {
    font-size: .4133rem;
    color: #fff;
    position: absolute;
    left: 4.5867rem;
    top: 1.0667rem;
}
.top .p-top {
    color: #fff;
    font-size: 1.2667rem;
    position: absolute;
    left: 1.16rem;
    top: 2.0133rem;
} 
.top .p-bottom {
    color: #fff;
    font-size: .9333rem;
    position: absolute;
    left: 1.5467rem;
    top: 3.4533rem;
}
.map-logo img {
    width: 4rem;
    height: 1.333rem;
    float: left;
    margin-left: .933rem;
}

.map-logo a {
    width: 2.333rem;
    height: .733rem;
    float: left;
    margin-left: 1.600rem;
    margin-top: .280rem;
    text-align: center;
    line-height: .733rem;
    font-size: .427rem;
    color: #333;
    border: .027rem solid #333;
    border-radius: .053rem;
}

/*content*/
.swiper-container {
    width: 10rem;
    height: 9.333rem;
}

.swiper-container img {
    width: 9.334rem;
    height: 9.333rem;
    float: left;
    margin-left: .333rem;
}

.swiper-pagination {
    float: left;
    margin-top: 3.5rem;
}

/*download*/
.map-download {
    width: 10rem;
    float: left;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 17%;
}

.download-btn {
    width: 6.48rem;
    height: 1.3933rem;
    float: left;
    margin-top: 3.5rem;
    color: #fff;
    font-size: .507rem;
    background-color: #3385ff;
    border-radius: .467rem;
    outline: none;
    background: url(../img/xiabu.png) no-repeat center center;
    background-size: 100% 100%;
}

.download-text {
    width: 10rem;
    float: left;
    text-align: center;
}

.download-span {
    font-size: .427rem;
    color: #3385ff;
    text-decoration: underline;
}